* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem 0;
}
.card__content {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.delete__button {
  cursor: pointer;
  transition: 0.3s;
}
.delete__button:hover {
  color: red;
}

@media only screen and (max-width: 770px) {
  .grid_main {
    padding: 2rem 0.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 440px) {
  .grid_main {
    padding: 2rem 0.5rem;
    grid-template-columns: 1fr;
  }
}
